.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cce5ff;
    /* Light blue color */
    padding: 10px 20px;
}

.navbar-logo {
    font-size: 24px;
    color: #004085;
    font-weight: bold;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar-links li a {
    text-decoration: none;
    color: #004085;
    font-size: 16px;
}

.navbar-links li a:hover {
    text-decoration: underline;
}